<%- include("header") -%>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, sed quod optio aliquid earum autem saepe nesciunt provident maiores rerum consequatur officia minima nam vero obcaecati quisquam dolorem illum magnam.</p>
</body>
<%- include("footer") -%>